[scripts]
lint = "python -m black --target-version py37 --line-length 120 --check ."
lint-fix = "python -m black --target-version py37 --line-length 120 ."
test = "python -m pytest -v --junitxml=tmp/test-output/pytest.xml"
airflow = "start-airflow.sh"

[packages]
apache-airflow = {extras = ["amazon", "cassandra", "celery", "crypto", "datadog", "docker", "flask_oauth", "google", "google_auth", "grpc", "hive", "jdbc", "kubernetes", "postgres", "presto", "redis", "sentry", "slack", "spark", "ssh", "statsd", "virtualenv"], version = "==1.10.10"}
pytz = "*"
pyopenssl = "*"
ndg-httpsclient = "*"
pyasn1 = "*"
kafka-python = "*"
protobuf = "*"

[dev-packages]
pytest = "*"
black = "==19.3b0"

[requires]
python_version = "3.7"
